.bgb {
  background-color: #0dcaf0;
}

.txtb {
  color: #0dcaf0;
}

.hs {
  background-color: #f5f3f3;
}

.bar {
  background-color: #0dcaf066;
}

.txt {
  color: #0dcaf0;
}

.tg {
  color: #00000080;
}

.shd {
  box-shadow: 0px 0px 6px 1px #00000026;
}
